<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="addLink" value="False"/>
    <add key="linkUrl" value="https://sites.google.com/a/rustam.ws/gpx"/>
    <add key="thumbnailHeight" value="100"/>
    <add key="thumbnailWidth" value="100"/>
  </appSettings>
</configuration>
